::root{
    box-sizing: border-box;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.navbar .links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #000;
    position: relative; 
    height: 100%;
}

.links li a{
    color: white;
    text-decoration: none;
}

.links .logo{
    height: 100px;
    width: 100px;
    background: #000;
    position: absolute;
    top: 4px;
    padding: 0 5px 5px;
    -webkit-clip-path: polygon(50% 0%, 100% 50%,50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);     
}

.links .logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.principal{
    background: url("./images/concierto.jpg");
    background-position: 0;
    background-size: cover;
    height: 34em;
    border: 0 auto;
    font-family: 'Raleway', sans-serif;
}

.maxisun{
    font-family: 'Monoton', cursive;
    font-size: 10em;   
    color:orange;
    margin: 0em 27%;
}
.best{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color:  orange;
    margin: 0em 40%;
}

.best i{
    margin: 0em 50%;
}

.principal p{
    display: block;
}

.container{
    margin: 0 auto;
    background-color: #dbdada;
    padding: 1em;
    display: grid;
    grid-auto-columns: 33%;
    grid-auto-rows: 50%;
}

.container div{
    margin: 1em;
    font-family: 'Raleway', sans-serif;
    display: block;
    background:#f5f5f5;
    border-radius: 50px;
    width: 30em;
}

.container button{
    margin: 1em 27%;
    font-family: 'Raleway', sans-serif;
    border-width: 0;
    background-color: orange;
    padding: 1em 5em;
    border-radius: 1em;
    color:white;    
}

.feauture1{
    grid-column: 1;
    grid-row: 1;
}
.feauture2{
    grid-column: 2;
    grid-row: 1;
}
.feauture3{
    grid-column: 3;
    grid-row: 1;
}
.feauture4{
    grid-column: 1;
    grid-row: 2;
}
.feauture5{
    grid-column: 2;
    grid-row: 2;
}
.feauture6{
    grid-column: 3;
    grid-row: 2;
}

img{
    height: 20em;
    width: 30em;
    border-radius: 50px;
}


.submitarea{
    padding: 10px;
    background: url("./images/contacus.jpg");
    background-position: 0;
    background-size: cover;
    height: 40em;
    border: 0 auto;
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-auto-columns: 50%;
}

.datos{
    font-size: 2em;
    display: grid;
    font-family: 'Raleway', sans-serif;
    color: white;
    grid-row: 1;
    grid-column: 1;
}

.datosboton{
    margin: 1em 27%;
    font-family: 'Raleway', sans-serif;
    border-width: 0;
    background-color: orange;
    padding: 0;
    border-radius: 1em;
    color:white;   
}


.contactus{
    color:white;
    font-size: 2em;
    background-color: rgba(245, 245, 245, 0.335);
    padding: 2em;
    grid-row: 1;
    grid-column: 2;
    border-radius: 2em;
}

.socialarea{
    font-family: 'Raleway', sans-serif;
    background-color: #000;
    color: white;
    display: grid;
    grid-auto-columns: 50%;
    grid-auto-rows: 50%;
}

.social{
    grid-column: 1;
}

.moreofus{
    grid-column: 2;
}
