::root{
    box-sizing: border-box;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.navbar .links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #000;
    position: relative; 
    height: 100%;
}

.links li a{
    color: white;
    text-decoration: none;
}

.links .logo{
    height: 100px;
    width: 100px;
    background: #000;
    position: absolute;
    top: 4px;
    padding: 0 5px 5px;
    -webkit-clip-path: polygon(50% 0%, 100% 50%,50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);     
}

.links .logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}